extends ../includes/_layout
block var
  - title = '入会案内'
  - keywords = '上尾,ストレッチ,ダンス,スタジオ,パーソナル,キッズ,ボディケア,フェイスケア'
  - url = '/join/'
  - image = '/join/uploads/bg_join.png'
  - description = 'Studio MEANAはチケット制。１レッスン受講ごとに１枚チケットが必要になります。'
block body
  section.herotitle-container.jointop(style="background-image:url(/join/uploads/bg_join.png);")
    .hero-content
      .uk-animation-slide-bottom-medium.en Join
      h1.uk-animation-slide-bottom-medium 入会案内
      p.uk-animation-slide-bottom-medium Studio MEANAはチケット制。１レッスン受講ごとに１枚チケットが必要になります。
  .uk-container.jointop
    .joincard-container(uk-height-match="target: .card-body", uk-scrollspy="target: > .card; cls: uk-animation-slide-bottom-medium; delay: 50")
      .card
        .card-img(style="background-image:url(/uploads/home_service_personal.jpg);")
        .card-body
          h3 パーソナルトレーニング
          table
            tr
              td 40minチケット
              td 1枚
              td ¥4,600
            tr
              td 40minチケット
              td 10枚
              td ¥43,000
            tr
              td 60minチケット
              td 1枚
              td ¥6,800
            tr
              td 60minチケット
              td 10枚
              td ¥62,000
            tr
              td 初回カウンセリング
              td
              td ¥10,000
      .card
        .card-img(style="background-image:url(/uploads/home_service_body.jpg);")
        .card-body
          h3 ボディメンテナンス
          table
            tr
              td 40minチケット
              td 1枚
              td ¥4,600
            tr
              td 40minチケット
              td 10枚
              td ¥43,000
            tr
              td 60minチケット
              td 1枚
              td ¥6,800
            tr
              td 60minチケット
              td 10枚
              td ¥62,000
            tr
              td 初回カウンセリング
              td
              td ¥10,000
      .card
        .card-img(style="background-image:url(/uploads/home_service_studio.jpg);")
        .card-body
          h3 スタジオレッスン
          table
            tr
              td スタジオレッスンチケット
              td 5枚
              td ¥7,500
            tr
              td スタジオレッスンチケット
              td 10枚
              td ¥12,500
            tr
              td スタジオレッスンチケット
              td 20枚
              td ¥20,000
            tr
              td スタジオレッスンチケット
              td 50枚
              td ¥25,000
            tr
              td ビジターチケット
              td 1枚
              td ¥2,000
      .card
        .card-img(style="background-image:url(/uploads/home_service_kids.jpg);")
        .card-body
          h3 キッズレッスン
          table
            tr
              td スタジオレッスンチケット
              td 5枚
              td ¥7,500
            tr
              td スタジオレッスンチケット
              td 10枚
              td ¥12,500
            tr
              td スタジオレッスンチケット
              td 20枚
              td ¥20,000
            tr
              td スタジオレッスンチケット
              td 50枚
              td ¥25,000
            tr
              td ビジターチケット
              td 1枚
              td ¥2,000
    .join-entry
      .point
        h2.section-title-m(uk-scrollspy="uk-animation-slide-bottom-medium") 入会金
        p(uk-scrollspy="uk-animation-slide-bottom-medium") ¥10,000 (再入会の場合は¥5,000）
  section.join-fee
    .join-fee-container
      .uk-container
        h2.section-title-m(uk-scrollspy="uk-animation-slide-bottom-medium") 注意事項
        ul(uk-scrollspy="uk-animation-slide-bottom-medium")
          li 上記料金は全て税抜表示となっております。
          li 各種チケットは、購入したお客様本人のみがご利用になれます。
          li チケット最終購入日から１年間、上記チケットのいずれも購入がない場合、自動退会となります。
          li チケットの有効期限は、チケットの購入した日の属する月の末日から６ヶ月間となります。
            br
            | （例）2018年7月12日に購入→有効期限2019年1月末日
          li スタジオレッスンチケット50枚の有効期限のみチケット購入した日の属する月の末日から３ヶ月間となっております。
            br
            | こちらのチケットは、有効期間の短いスペシャルオファーですのでご注意ください。
