@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,400,300,600,700%7CRaleway:300,400,700%7CQuicksand:400,700%7CPhilosopher);
@import url(/assets/css/font-awesome.min.css);
html, html body, html input, html textarea, html button, html legend, .ffm {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html {
  overflow-x: hidden;
  overflow-y: auto; }

body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, ul, ol, form, input, p, figure, figcaption, section, article, header, footer {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box; }

li {
  list-style: none; }

date,
mark {
  background: none;
  display: inline-block;
  font-family: 'Philosopher';
  text-align: center;
  font-style: italic;
  vertical-align: middle; }

body {
  font-family: Hiragino Sans,Hiragino Kaku Gothic ProN,Meiryo,sans-serif;
  font-size: 14px;
  line-height: 1.8;
  position: relative;
  color: #000;
  padding: 0;
  margin: 0;
  background-color: #FDFDFD;
  width: 100%;
  height: 100%; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    color: #666; }

::-moz-selection {
  color: #fff;
  text-shadow: none;
  background: rgba(0, 0, 0, 0.9); }

::selection {
  color: #fff;
  text-shadow: none;
  background: rgba(0, 0, 0, 0.9); }

.italic {
  font-style: italic; }

.t-center {
  text-align: center; }

h1, h2, h3, h4 {
  color: #252525;
  font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif; }

h1 {
  font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
  font-size: 2rem; }

h2 {
  font-size: 1.6rem;
  font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif; }

h3 {
  font-size: 1.5rem;
  font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif; }

h4 {
  font-size: 1.4rem;
  font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif; }

body {
  background-color: #FFF;
  min-width: none; }

body {
  font-size: 1rem;
  line-height: 1.8; }
  body #studio,
  body #care,
  body #personal {
    margin-top: 2em; }
  body h1 {
    text-align: center;
    margin-bottom: 2em;
    font-size: 1.4rem;
    letter-spacing: normal; }
  body h4 {
    font-size: 1.1rem;
    margin-bottom: 2em;
    font-family: Hiragino Sans,Hiragino Kaku Gothic ProN,Meiryo,sans-serif;
    position: relative; }
    body h4::after {
      position: absolute;
      content: '';
      bottom: -0.5em;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #CCC;
      z-index: 9999; }
  body p {
    margin-bottom: 2em;
    font-size: 1.05rem;
    line-height: 2; }
  body h1 {
    text-align: center;
    margin-bottom: 2em;
    font-size: 1.4rem;
    letter-spacing: normal; }
  body .point-wrap {
    padding: 1em 0;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC; }
    body .point-wrap > div {
      padding: 1.5em 0; }
      body .point-wrap > div h2 {
        font-size: 1rem;
        background-color: #F2F2F2;
        padding: 0.5em 1em;
        margin-bottom: 1em; }
      body .point-wrap > div li {
        margin-bottom: 0.5em; }
        body .point-wrap > div li:last-child {
          margin-bottom: 0; }
      body .point-wrap > div ul {
        margin-left: 2em;
        font-size: 0.8rem;
        letter-spacing: normal; }
        body .point-wrap > div ul li {
          list-style: square outside; }
      body .point-wrap > div ol {
        margin-left: 2em;
        font-size: 0.8rem;
        letter-spacing: normal; }
        body .point-wrap > div ol li {
          list-style: decimal outside; }
  body dl {
    margin: 1em;
    display: table;
    table-layout: fixed;
    width: 100%; }
    body dl dt,
    body dl dd {
      display: table-cell;
      font-size: 1rem; }
    body dl dd {
      text-align: right; }
  body img {
    display: inline-block;
    max-width: 100%;
    height: auto; }
  body .join {
    margin-bottom: 2em; }
    body .join h2 {
      border-top: none;
      border-bottom: none;
      font-size: 1.2rem;
      padding: 0.5em;
      border-top: 2px solid #000;
      border-bottom: 1px solid #000;
      margin-bottom: 2em;
      font-family: Hiragino Sans,Hiragino Kaku Gothic ProN,Meiryo,sans-serif; }
