extends ../includes/_layout
block var
  - title = 'お問い合わせ | Meana'
  - keywords = '上尾,ストレッチ,ダンス,スタジオ,パーソナル,キッズ,ボディケア,フェイスケア'
  - url = '/inquiry/'
  - image = '/inquiry/assets/img/ogp.png'
  - description = 'Studio MEANAについて詳しく知りたい、入会、または体験してみたいなどご質問がある方は下記のフォームよりお問い合わせ下さい。'
block body
  .uk-container
    section.form-head
      h1.uk-animation-slide-bottom-medium お問い合わせ
      p.uk-animation-slide-bottom-medium Studio MEANAについて詳しく知りたい、入会、または体験してみたいなど
        br
        | ご質問がある方は下記のフォームよりお問い合わせ下さい。
    .form-body
      .formrun-embed(data-formrun-form="@kyosuke-8V2BHZnoM9fhBwQCqxsG", data-formrun-redirect="true")
block end_of_body
  script(src="https://sdk.form.run/js/v2/embed.js")
