.pagination(uk-scrollspy="target: *; cls: uk-animation-slide-bottom-medium; delay: 50")
	.prev
		a(href="") &laquo;
	ul
		li
			a.current(href="") 1
		li
			a(href="") 2
		li
			a(href="") 3
		li
			a(href="") 4
	.next
		a(href="") &raquo;