html,html body,html input,html textarea,html button,html legend,.ffm {
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}

html {
	overflow-x:hidden;
	overflow-y:auto;
	font-size: 62.5%;
}

body,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,ul,ol,form,input,p,figure,figcaption,section,article,header,footer {
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
}


li {
	list-style: none;
}

date,
mark {
	background: none;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

body {
	@include normal();
	font-size: 10px;
	font-size: 1.0rem;
	position:relative;
	color: #252525;
	padding: 0;
	margin: 0;
	background-color: #FDFDFD;
	letter-spacing: 0.76px;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-feature-settings: "palt";
	font-feature-settings: "palt";
}

.clearfix:after {
 	content: "."; 
 	display: block; 
 	height: 0; 
 	font-size:0;	
 	clear: both; 
 	visibility:hidden;
}

a {
	color: #252525;
	text-decoration: none;
	&:hover {
		color: #666;
	}
}

::-moz-selection {
	@include selection();
}

::selection {
	@include selection();
}

.italic {
	font-style: italic;
}

.t-center {
	text-align: center;
}

h1,h2,h3,h4 {
	@include black();
	font-weight: 600;
}

h1 {
	font-size: 2.6rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.8rem;
}

h4 {
	font-size: 1.6rem;
}

p {
	font-size: 1.4rem;
}