#footer {
	padding: 1.5em;
	background-color: #333;
}

#f-nav {
	margin: 0 auto 30px auto;
	width: 1240px;
	text-align: center;
	@include flex(nowrap,center,center);

	a {
		font-size: 1.2rem;
		line-height: 1;
		color: #CCC;
		margin: 0 10px;
		vertical-align: top;
		text-decoration: none;
	}
}

#copyright {
	text-align: center;
	color: #CCC;
	font-size: .9rem;
}

.socials {
	margin-top: 1em;
	margin-bottom: 2em;
	ul {
		letter-spacing: -.40em;
		text-align: center;
		li {
			@include inline-block(middle);
			margin: 0 1em;
			a {
				background-color: #FFF;
				display: block;
				font-size: 1.2rem;
				line-height: 25px;
				height: 25px;
				width: 25px;
				border-radius: 100%;
			}
		}	
	}
}