#form {
	width: 70%;
	margin: 2em auto;
	fieldset {
		border: none;
		padding: 0;
		margin: 0 0 2em 0;
		legend {
			font-size: 1.4rem;
			font-weight: bold;
			display: block;
			width: 100%;
			padding: 0;
			border: 0;
			margin: 0 0 .5em 0;
			//float: left;
			span {
				display: inline-block;
				margin-left: 1em;
				background-color: #FF0000;
				font-size: 0.8rem;
				color: #FFF;
				line-height: 1;
				padding: .2em 1em;
				&.gray {
					background-color: #CCC;
					color: #333;
				}
			}
		}
		.input {
			input[type="text"],
			input[type="tel"],
			input[type="email"] {
				width: 100%;
				box-sizing: border-box;
				border: 1px solid #CCC;
				font-size: 1.3rem;
				line-height: 1;
				padding: .8em;
				@include appearance();
			}	
		}
		.confirm {
			border: 1px solid #CCC;
			background-color: #FFF;
			font-weight: bold;
			padding: .8em;
			.ERR {
				color: #FF0000;
			}
		}
		textarea {
			width: 100%;
			box-sizing: border-box;
			border: 1px solid #CCC;
			font-size: 1.3rem;
			padding: .8em;
			height: 250px;
			@include appearance();
		}
	}
	#privacy-wrap {
		margin-top: 2em;
		text-align: center;
		.pp-link {
			margin: 2em;
		}
		.privacy-lead {
			margin: 2em;
			a {
				text-decoration: underline;
			}
		}
		input[type="checkbox"] {
			display: inline-block;
			margin-right: .5em;
		}
		.input {
			font-weight: bold;
			font-size: 1.3rem;
		}
	}
	#submit {
		margin: 3em auto;
		text-align: center;
		input[type="submit"],
		#baxk {
			margin: 0 1em;
		}
		input[type="submit"] {
			display: inline-block;
			width: 300px;
			height: 50px;
			line-height: 50px;
			background-color: #333;
			color: #FFF;
			font-size: 1.4rem;
			font-weight: bold;
			border-radius: 2px;
			box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3);
			border: none;
		}
		#back {
			display: inline-block;
			width: 300px;
			height: 50px;
			line-height: 50px;
			border-radius: 2px;
			background-color: #333;
			color: #FFF;
			font-size: 1.4rem;
			font-weight: bold;
			box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3);
			text-decoration: none;	
		}
	}
	#copyright {
		font-size: 0.4rem;
		text-align: right;
		color: #CCC;
	}
}