.layouts {
	box-sizing: border-box;
}

.left {
	@extend .layouts;
	padding: 1em;
	float: left;
	width: 50%;
}

.right {
	@extend .layouts;
	padding: 1em;
	float: left;
	width: 50%;
}

.side {
	@extend .layouts;
	width: 300px;
	float: right;
	vertical-align: top;
}

.contents {
	@extend .layouts;
	float: left;
	width: 910px;
	vertical-align: top;
	padding-right: 3em;
}