$width: 1240px;
$spacing: 0 2em;
$black: #252525;

@mixin clearfix() {
 	content: "."; 
 	display: block; 
 	height: 0; 
 	font-size:0;	
 	clear: both; 
 	visibility:hidden;
}

@mixin inline-block($position) { 
 	display: inline-block; 
 	vertical-align: $position;
 	letter-spacing: normal;
 	box-sizing: border-box;
}

@mixin black() {
	color: $black;
}

@mixin quicksand() {
	font-family: 'QuickSand';
}

@mixin philosopher() {
	font-family: 'Philosopher';
}

@mixin mincho() {
	font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
}

@mixin normal() {
	font-family: Hiragino Sans,Hiragino Kaku Gothic ProN,Meiryo,sans-serif;
}

@mixin selection() {
	color:#fff;
	text-shadow:none;
	background:rgba(0,0,0,0.9);
}

@mixin appearance() {
	-webkit-appearance: none;
	-moz-appearance: none;
}

@mixin background() {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

@mixin flex($wrap,$justify,$align) {
	display: -webkit-flex;
	display: flex;
	flex-wrap: $wrap;
	-webkit-justify-content: $justify;
	justify-content: $justify;
	align-items: $align;
}

@mixin center50() {
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

@mixin center50-y() {
	top: 50%;
	width: auto;
	height: auto;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin center50-w() {
	left: 50%;
	width: auto;
	height: auto;
	-webkit-transform: translateW(-50%);
	-ms-transform: translateW(-50%);
	-moz-transform: translateW(-50%);
	transform: translateW(-50%);
}