.side {
	h2 {
		color: #000;
		font-size: 2rem;
		margin-bottom: 1em;
		font-weight: normal;
		font-family: 'Philosopher';
		font-weight: normal;
		text-align: center;
		padding: 0.4em 0;
		line-height: 1;
		border-top: 1px solid #CCC;
		border-bottom: 1px solid #CCC;
	}

	ul.list {
		margin-bottom: 3em;
		width: 100%;

		li {
			display: table;
			table-layout: fixed;
			padding: 3em 0;
			width: 100%;
			border-bottom: 1px solid #CCC;
			@mixin side-parts() {
				display: table-cell;
				box-sizing: border-box;
				vertical-align: top;	
			}
			a {
				display: block;
				padding: 2em 0.5em;
				&:hover {
					background-color: #F1F1F1;
				}
				> span {
					display: inline-block;
					margin-right: 1em;
					background-color: #EBEBEB;
					padding: 0 1em;
					font-size: 1.1rem;
					border-radius: 3px;
				}			
				date,
				mark {
					display: inline-block;;
					@include quicksand();
					font-size: 1.2rem;
					white-space: nowrap;
					text-align: left;
					font-style: normal;	
				}
				mark {
					@include side-parts();
					width: 20%;	
				}
				strong {
					@include side-parts();
					width: 80%;
					font-weight: normal;
					padding-left: 0.5em;
				}
				p {
					margin-top: 0.5em;
					margin-bottom: 0;
					font-size: 1.3rem;
				}
			}
		}
	}
}