#voice-list {
	margin-top: 2em;
	@include flex(wrap,flex-start,stretch);
	text-align: center;
	.voice {
		flex-basis: 20%;
		a {
			padding: 1em;
			display: block;
			&:hover {
				background-color: #EBEBEB;
				text-decoration: none;
			}
			figure {
				.img {					
					padding: 0 1em;
					overflow: hidden;					
					img {
						border-radius: 100%;
						border-radius: 100%;
						display: block;
						max-width: 100%;
						border: 1px solid #EBEBEB;
						box-shadow: 0 0 10px rgba(190,190,190,0.5);
					}
				}
				figcaption {
					margin-top: 1em;
					text-align: center;
					font-weight: 500;
					font-size: 1.4rem;
				}
			}
			strong {
				display: block;
				margin-top: 1em;
				font-size: 1.3rem;
				font-weight: 400;
			}
		}
	}
}

.voice-cover {
	text-align: center;
}

#voice {
	width: 80%;
	margin: auto;
	.voice-head {
		width: 250px;
		float: left;
		.face {
			margin: auto;
			text-align: center;
			.img {
				overflow: hidden;
				box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
				border: 1px solid #EBEBEB;
				border-radius: 100%;
				img {
					display: block;
					max-width: 100%;
				}
			}
		}
		.info {
			margin-top: 2em;
			h1 {
				font-size: 1.4rem;
				text-align: center;
				font-weight: 600;
			}
			h2 {
				margin-top: 2em;
				letter-spacing: normal;
				font-size: 1.3rem;
				font-weight: normal;		
			}		
		}
	}

	article {
		float: right;
		width: 680px;
		img {
			max-width: 100%;
		}
		h2 {
			font-size: 1.8rem;
			margin-bottom: 1em;
			border-top: 1px solid $black;
			border-bottom: 1px solid $black;
			padding: 1em 0;
		}
		p {
			margin-bottom: 2em;
			font-size: 1.4rem;
		}
	}
}

.other-voice {
	border-top: 1px solid #EBEBEB;
	padding-top: 1em;
	margin-top: 2em;
	letter-spacing: -.40em;
	text-align: center;
	h3 {
		margin-top: 1em;
		margin-bottom: 1em;
		letter-spacing: normal;
	}
	.voice {
		width: 16%;
		@include inline-block(top);
		a {
			padding: 1em;
			display: block;
			&:hover {
				background-color: #EBEBEB;
				text-decoration: none;
			}
			figure {
				.img {
					padding: 0 1em;
					overflow: hidden;
					img {
						border-radius: 100%;
						display: block;
						max-width: 100%;
						border: 1px solid #EBEBEB;
					}
				}
				figcaption {
					margin-top: 1.2em;
					text-align: center;
					font-size: 1.3rem;
					font-weight: 500;
				}
			}
			strong {
				display: block;
				margin-top: 1.2em;
				font-weight: normal;
				font-size: 1.2rem;
			}
		}
	}
}