@charset "utf-8";

@import 'mixin';
@import 'base_edit';

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,400,300,600,700%7CRaleway:300,400,700%7CQuicksand:400,700%7CPhilosopher);
@import url(/assets/css/font-awesome.min.css);

body {
	background-color: #FFF;
	min-width: none;
}

h2 {
	font-size: 1.1rem;
	margin-bottom: 1em;
	font-family:"Quicksand","游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 1em 0;
}
p {
	margin-bottom: 2em;
	font-size: 1rem;
}