extends ../includes/_layout
block var
  - title = 'スタジオ紹介'
  - keywords = '上尾,ストレッチ,ダンス,スタジオ,パーソナル,キッズ,ボディケア,フェイスケア'
  - url = '/about/'
  - image = '/uploads/bg_studiotop.png'
  - description = '創業1999年、解剖学に基づいたバレエメソッドでカラダを根本から整えるパーソナル・トレーニング・スタジオ'
block end_link
  link(rel='stylesheet', href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
block body
  section.herotitle-container.studiotop(style="background-image:url(/uploads/bg_studiotop.png);")
    .hero-content
      .uk-animation-slide-bottom-medium.en Studio
      h1.uk-animation-slide-bottom-medium スタジオ紹介
      p.uk-animation-slide-bottom-medium 創業1999年、解剖学に基づいたバレエメソッドで
        br
        | カラダを根本から整えるパーソナル・トレーニング・スタジオ
  .uk-container.programtop
    .studio-body(uk-scrollspy="uk-animation-slide-bottom-medium")
      .point(uk-scrollspy="target: > *; cls: uk-animation-slide-bottom-medium; delay: 50")
        h2 パーソナルトレーニング・スタジオグループレッスン
          br
          | ・各種マッサージ・パーソナルストレッチを自由に組み合わせ可能
        p 当スタジオでは、大きく３つのメニューを提供しています。
        p ・お客様一人ひとりのカラダの特性や状態に合わせたオーダーメイド・トレーニングを提供する
          strong 「パーソナルトレーニング」。
        p ・テンピュール製のベッド上でストレッチ＆マッサージを受けていただくことでカラダの歪みを矯正する
          strong 「ボディメンテナンス」。
        p ・5～15人のグループで行う
          strong 「スタジオレッスン」。
        p すべてチケット制ですので、希望のレッスンを自由に組み合わせて受講いただけます。
        h2 硬く過剰にモリモリとしたカラダづくりではなく、
          br
          | 基礎の整った美しいカラダづくりが目標
        p トレーニングメソッドとしては、解剖学に基づいたバレエメソッドを中心としていますが、呼吸法や睡眠改善法、ピラティスやリハビリテーションのノウハウまで、あらゆるボディ・コンディショニング法を組み合わせてお客様のカラダを整えていきます。
        p また、レッスン時には、カラダに対する正しい知識をつけていただくよう、随時、解剖学について分かりやすく伝えていきます。
        p カラダについての正しい知識はトレーニングの効果をあげるために必須のものだからです。
        p 当スタジオでは、硬く過剰にモリモリとした、いわゆるマッチョなカラダづくりを目指しておりません。また、短期間での体重減少効果のみを狙ったトレーニングも行いません。
        p 当スタジオが重視するのは、体幹部の高度な安定性と機動性、各筋肉の連動性や柔軟性といった基礎の部分です。基礎の整ったカラダは、結果として、凛とした美しい姿勢、美しい所作、均整のとれた無駄のないボディラインをもたらします。また、ストレスや怪我に強いしなやかなカラダになるため、日々をよりアクティブに過ごすことが出来るようになります。
        p カラダを根本から変えたい方、是非、当スタジオにお越しください。男性、女性、年齢の制限は一切ありません。一人ひとりのカラダの状態に合わせた運動やストレッチを指導しますので、運動初心者の方でも大丈夫です。
        p 皆様のお越しをお待ちしております！
    #staff
      h2.section-title-m(uk-scrollspy="uk-animation-slide-bottom-medium") Greeting
      #greeting
        #greeting-content(uk-scrollspy="target: > *; cls: uk-animation-slide-bottom-medium; delay: 50")
          p 自分では精一杯運動や食事制限で努力しても
          p ・結果がでない。
            br
            | ・ゴツゴツした硬い筋肉になってしまう。
            br
            | ・部分的に太くなってしまって自分の理想と違う。
          p などなど、悩んでいる方は多いのではないでしょうか？
          p カラダづくりで重要なのは、カラダを構成する206個の骨を正しい位置に整えたうえで、カラダの動く仕組みに沿った運動を的確に行うというシンプルなことです。骨が正しい位置にあると、関節がスムーズに働き、筋肉に無駄なストレスがかからず機能的で美しい筋肉がつきます。
          p ただ、そのためにはカラダについての正しい知識とメソッドがとても大切になります。
          p MEANAは英語の
            strong 「mean」
            | からきています。
          p 「ｍean」は一般的には「意味する」と訳しますが、「重要性を持つ、大事である」「方法・手法」という意味もあります。
          p 大切なカラダのことを正しく理解し、キレイな状態にメンテナンスしてあげることの大切さと効果的なメソッドを伝える場所。
          p 皆さまにとって、そういう場所でありたいと思い、名づけました。
          p
            strong それが『MEANA』です。
        figure(uk-scrollspy="uk-animation-slide-bottom-medium")
          img(src="https://www.meana-studio.com/uploads/bg_greeting.png", uk-img)
          figcaption
            small 代表インストラクター
            h3 浅見 美奈子
    #gallery
      h2.section-title-m(uk-scrollspy="uk-animation-slide-bottom-medium") Gallery
      #gallery-container.swiper-container(uk-scrollspy="uk-animation-slide-bottom-medium")
        ul.swiper-wrapper
          li.swiper-slide
            img(src="/uploads/gallery01.jpg", uk-img)
            h3 スタジオ外観
          li.swiper-slide
            img(src="/uploads/gallery07.jpg", uk-img)
            h3 受付・エントランス
          li.swiper-slide
            img(src="/uploads/gallery02.jpg", uk-img)
            h3 ボディメンテンナンスルーム
          li.swiper-slide
            img(src="/uploads/gallery03.jpg", uk-img)
            h3 渡り廊下
          li.swiper-slide
            img(src="/uploads/gallery04.jpg", uk-img)
            h3 マシン
          li.swiper-slide
            img(src="/uploads/gallery05.jpg", uk-img)
            h3 トレーニングルーム（1）
          li.swiper-slide
            img(src="/uploads/gallery06.jpg", uk-img)
            h3 トレーニングルーム（2）
        a.swiper-button-prev(href="#")
        a.swiper-button-next(href="#")
      ul.swiper-pagination
    #access
      h2.section-title-m(uk-scrollspy="uk-animation-slide-bottom-medium") Access Map
      p.section-p(uk-scrollspy="uk-animation-slide-bottom-medium") スタジオまでのアクセス
      .access-body(uk-scrollspy="uk-animation-slide-bottom-medium")
        .info 〒362-0075
          br
          | 埼玉県上尾市柏座2-3-13
          br
          span.tel
            a(href="tel:048-773-7787") 048-773-7787
        .more
          a.uk-button.uk-button-primary(href="https://goo.gl/maps/dG9PxaZXNSx", target="_blank")
            ion-icon(name="pin")
            span GoogleMapで地図を見る
      .gmap(uk-scrollspy="uk-animation-slide-bottom-medium")
        iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12915.822932338566!2d139.5851111!3d35.9725077!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x71c4cdcba88e623f!2sStudio%20MEANA%20-Personal%20Training%20%26%20Stretching-!5e0!3m2!1sja!2sjp!4v1579230226387!5m2!1sja!2sjp", width="600", height="450", frameborder="0", style="border:0;", allowfullscreen)
block end_of_body
  script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
  script(src="/assets/js/swiper.js")
