extends ../includes/_layout
block var
	- title = 'サービスメニュー | Meana'
	- keywords = '上尾,ストレッチ,ダンス,スタジオ,パーソナル,キッズ,ボディケア,フェイスケア'
	- url = 'https://www.meana-studio.com/'
	- image = 'image'
	- site_name = 'site_name'
	- description = '上尾駅徒歩10分のダンス・ストレッチスタジオ、MEANA STUDIO。パーソナルトレーニング、ストレッチ、キッズレッスン、ボディケア・フェイスケアなども行ってます。'
block body
	section.herotitle-container.studiotop(style="background-image:url(uploads/bg_studiotop.png);")
		div.hero-content
			div.en Studio
			h1.uk-animation-slide-bottom-medium スタジオ紹介
			p.uk-animation-slide-bottom-medium 創業1999年、解剖学に基づいたバレエメソッドで
				br
				| カラダを根本から整えるパーソナル・トレーニング・スタジオ
	div.uk-container.programtop
		div.studio-body(uk-scrollspy="uk-animation-slide-bottom-medium")
			div.point
				h2(uk-scrollspy="uk-animation-slide-bottom-medium") パーソナルトレーニング・スタジオグループレッスン
					br
					| ・各種マッサージ・パーソナルストレッチを自由に組み合わせ可能
				p(uk-scrollspy="uk-animation-slide-bottom-medium") 当スタジオでは、大きく３つのメニューを提供しています。
				p(uk-scrollspy="uk-animation-slide-bottom-medium") ・お客様一人ひとりのカラダの特性や状態に合わせたオーダーメイド・トレーニングを提供する
					strong 「パーソナルトレーニング」。
				p(uk-scrollspy="uk-animation-slide-bottom-medium") ・テンピュール製のベッド上でストレッチ＆マッサージを受けていただくことでカラダの歪みを矯正する
					strong 「ボディメンテナンス」。
				p(uk-scrollspy="uk-animation-slide-bottom-medium") ・5～15人のグループで行う
					strong 「スタジオレッスン」。
				p すべてチケット制ですので、希望のレッスンを自由に組み合わせて受講いただけます。
			div.point
				h2(uk-scrollspy="uk-animation-slide-bottom-medium") 硬く過剰にモリモリとしたカラダづくりではなく、
					br
					| 基礎の整った美しいカラダづくりが目標
				p(uk-scrollspy="uk-animation-slide-bottom-medium") トレーニングメソッドとしては、解剖学に基づいたバレエメソッドを中心としていますが、呼吸法や睡眠改善法、ピラティスやリハビリテーションのノウハウまで、あらゆるボディ・コンディショニング法を組み合わせてお客様のカラダを整えていきます。
				p(uk-scrollspy="uk-animation-slide-bottom-medium") また、レッスン時には、カラダに対する正しい知識をつけていただくよう、随時、解剖学について分かりやすく伝えていきます。
				p カラダについての正しい知識はトレーニングの効果をあげるために必須のものだからです。
				p(uk-scrollspy="uk-animation-slide-bottom-medium") 当スタジオでは、硬く過剰にモリモリとした、いわゆるマッチョなカラダづくりを目指しておりません。また、短期間での体重減少効果のみを狙ったトレーニングも行いません。
				p(uk-scrollspy="uk-animation-slide-bottom-medium") 当スタジオが重視するのは、体幹部の高度な安定性と機動性、各筋肉の連動性や柔軟性といった基礎の部分です。基礎の整ったカラダは、結果として、凛とした美しい姿勢、美しい所作、均整のとれた無駄のないボディラインをもたらします。また、ストレスや怪我に強いしなやかなカラダになるため、日々をよりアクティブに過ごすことが出来るようになります。
				p(uk-scrollspy="uk-animation-slide-bottom-medium") カラダを根本から変えたい方、是非、当スタジオにお越しください。
		#access
			h2.section-title-m(uk-scrollspy="uk-animation-slide-bottom-medium") Access Map
			p.section-p(uk-scrollspy="uk-animation-slide-bottom-medium") スタジオまでのアクセス
			.access-body(uk-scrollspy="uk-animation-slide-bottom-medium")
				.info 〒362-0075
					br
					| 埼玉県上尾市柏座2-3-13
					br
					span.tel 048-773-7787
				.more
					a.uk-button.uk-button-primary(href="https://goo.gl/maps/dG9PxaZXNSx" target="_blank")
						ion-icon(name="pin")
						span GoogleMapで地図を見る
			div.gmap(uk-scrollspy="uk-animation-slide-bottom-medium")
				iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12915.822932338566!2d139.5851111!3d35.9725077!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x71c4cdcba88e623f!2sStudio%20MEANA%20-Personal%20Training%20%26%20Stretching-!5e0!3m2!1sja!2sjp!4v1579230226387!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="")