extends ../../includes/_layout
block var
	- title = 'スタジオレッスン | Meana'
	- keywords = '上尾,ストレッチ,ダンス,スタジオ,パーソナル,キッズ,ボディケア,フェイスケア'
	- url = 'https://www.meana-studio.com/'
	- image = 'image'
	- site_name = 'site_name'
	- description = '上尾駅徒歩10分のダンス・ストレッチスタジオ、MEANA STUDIO。パーソナルトレーニング、ストレッチ、キッズレッスン、ボディケア・フェイスケアなども行ってます。'
block body
	section.herotitle-container.body(style="background-image:url(../uploads/bg_body.png);")
		div.hero-content
			div.en.uk-animation-slide-bottom-medium Body Maintenance
			h1.uk-animation-slide-bottom-medium ボディメンテナンス
			p.uk-animation-slide-bottom-medium テンピュール®製のベッドで行う
				br
				| Studio MEANAオリジナルの
				br
				| パーソナルストレッチ・マッサージ
	div.uk-container.body
		div.body-card.menu-section(uk-height-match="target: .card-body" uk-scrollspy="target: > .card; cls: uk-animation-slide-bottom-medium; delay: 50")
			div.card
				div.card-img(style="background-image:url(../uploads/body01.jpg);")
					div.point
						ion-icon(name="alert")
				div.card-body
					h3 Studio MEANAオリジナル器具
					p パーソナルストレッチや各種マッサージの際に横になっていただくベッドはテンピュール®製のもの。極上の寝心地で、心の底からリラックスして施術を受けていただけます。このベッドはリクライニング機能もついており、理想の睡眠姿勢「Zero-G® ポジション」 を取ることができ、 体圧分散のテンピュール®製の効果も相まって、パーソナルストレッチや各種マッサージの効果をより高めます。テンピュール®の寝具は、インストラクターも自宅で長年使用している信頼のベッドです。
			div.card
				div.card-img(style="background-image:url(../uploads/body02.jpg);")
					div.point
						ion-icon(name="alert")
				div.card-body
					h3 テンピュール®製ベッド＆枕
					p 各種マッサージの際には、スムースかつ的確に目的の箇所をほぐせるようStudio MEANAオリジナルの器具を使用します。この器具は、人の身体にもっとも親和性の高い純チタンで作られており、アレルギーの心配がなく、熱伝導率が低いことから、触感がとても気持ちの良いものとなっています。ハンドマッサージにこの器具を使用するマッサージを併用することで、より効果の高いマッサージを実現しています。
		section.menu-section
			h2.section-title-m(uk-scrollspy="uk-animation-slide-bottom-medium") Menu
			p.section-p(uk-scrollspy="uk-animation-slide-bottom-medium") テンピュール®製のベッドで行う Studio MEANAオリジナルの
				br
				| パーソナルストレッチ・マッサージ
			div.schedule-container(uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-medium; delay: 50")
				- for (var x = 0; x < 3; x++)
					div.schedule
						div.s-schedule
							div.day Mon
						div.content
							time
								ion-icon(name="clock")
								span 9:00~10:00
							h3 バレエストレッチ
							p ストレッチの基本となる部位を柔軟にし、美しいボディラインを作ります。
					div.schedule
						div.s-schedule
							div.day.sat Sat
						div.content
							time
								ion-icon(name="clock")
								span 9:00~10:00
							h3 コアストレッチ &amp; トレーニング
							p カラダの歪みを整え、リセットするメソッドで、キレイな姿勢と太りにくい体質に！
					div.schedule
						div.s-schedule
							div.day.sun Sun
						div.content
							time
								ion-icon(name="clock")
								span 13:00~14:00
							h3 Limber Body &amp; Slow Dance
							p 代謝UPのための筋肉を使わせるムービング運動と、ストレッチをミックスしたシェイプアップレッスン！
		section.menu-section
			h2.section-title-m(uk-scrollspy="uk-animation-slide-bottom-medium") Options
			p.section-p(uk-scrollspy="uk-animation-slide-bottom-medium") テンピュール®製のベッドで行う Studio MEANAオリジナルの
				br
				| パーソナルストレッチ・マッサージ追加オプション
	script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js")
	script(src="/assets/js/swiper.js")