extends ./includes/_layout
block var
	- bodyclass = 'home'
	- title = 'MEANAスタジオ - 上尾駅'
	- keywords = '上尾,ストレッチ,ダンス,スタジオ,パーソナル,キッズ,ボディケア,フェイスケア'
	- url = 'https://www.meana-studio.com/'
	- image = 'image'
	- site_name = 'site_name'
	- description = '上尾駅徒歩10分のダンス・ストレッチスタジオ、MEANA STUDIO。パーソナルトレーニング、ストレッチ、キッズレッスン、ボディケア・フェイスケアなども行ってます。'
block body
	section#main-cover
		div#main-cover-image
		div#cover-bg
		div.cover-content
			h1#message カラダは鍛えるのではなく
				br.sp
				| 「整える」
				br
				| 解剖学に基づいた
				br.sp
				| 総合ボディメイクスタジオ
		div#scroll.scroll
			a(href="#home-service" uk-scroll)
				span Scroll
				span.icon(uk-icon="icon: chevron-down")
	div#animaton-area
		section#home-service.home-section.uk-section
			div.uk-container
				h2.section-title(uk-scrollspy="cls: uk-animation-slide-bottom-medium") サービスメニュー
				div.service-container(uk-height-match="target: .card-body")
					a.card(href="/program/personal/")
						div.card-container
							div.card-img(style="background-image:url(uploads/home_service_personal.jpg);")
							div.card-body
								h3 パーソナルトレーニング
								p 一人ひとりのカラダの特性や状態に合わせたオーダーメイド・トレーニング
					a.card(href="/program/body/")
						di.card-container
							div.card-img(style="background-image:url(uploads/home_service_body.jpg);")
							div.card-body
								h3 ボディメンテナンス
								p テンピュール®社製のベッド上で行うパーソナルストレッチ＆各種マッサージ。
					a.card(href="/program/studio/" uk-scrollspy="uk-animation-slide-bottom-medium")
						div.card-container
							div.card-img(style="background-image:url(uploads/home_service_studio.jpg);")
							div.card-body
								h3 スタジオレッスン
								p ５〜15人のグループで行うスタジオ・レッスン。
					a.card(href="/program/kids/" uk-scrollspy="uk-animation-slide-bottom-medium")
						div.card-container
							div.card-img(style="background-image:url(uploads/home_service_kids.jpg);")
							div.card-body
								h3 キッズレッスン
								p 12歳までのキッズ専用のグループレッスン。
		section#home-about.home-section.uk-section(uk-parallax="bgy: -200")
			div.img(style="background-image:url(uploads/home_studio.png);")
			div.uk-container
				h2.section-title(uk-scrollspy="cls: uk-animation-slide-bottom-medium") Studio Meanaについて
				div.about-container(uk-scrollspy="target: > .card; cls: uk-animation-slide-bottom-medium; delay: 50" uk-height-match="target: .card-body > p")
					a.card(href="/about/")
						div.card-img(style="background-image:url(uploads/home_about_studio.jpg);")
						div.card-body
							h3 スタジオ紹介
							p 創業1999年、解剖学に基づいたバレエメソッドでカラダを根本から整えるパーソナル・トレーニング・スタジオ
					a.card(href="/voice/")
						div.card-img(style="background-image:url(uploads/home_about_voice.jpg);")
						div.card-body
							h3 お客様の声
							p お子様から高齢者まで様々な会員の中からの体験談をご紹介
					a.card(href="/blog/")
						div.card-img(style="background-image:url(uploads/home_about_blog.jpg);")
						div.card-body
							h3 ブログ
							p スタッフによる日々の活動やスタジオの様子などをご紹介
					a.card(href="/join/")
						div.card-img(style="background-image:url(uploads/home_cover.jpg);")
						div.card-body
							h3 料金・入会
							p レッスン料金、入会の手順・スタジオの利用方法などはこちらから
block end_of_body
	script(src="/assets/js/module/gsap/gsap.min.js")
	script(src="/assets/js/module/in-view.min.js")
	script(src="/assets/js/home.js")