extends ./includes/_layout
block var
  - bodyclass = 'home'
  - title = '「カラダは鍛えるのではなく整える」パーソナルトレーニング・ストレッチ'
  - keywords = '上尾,ストレッチ,ダンス,スタジオ,パーソナル,キッズ,ボディケア,フェイスケア'
  - url = '/'
  - image = '/assets/img/ogp.png'
  - description = '「カラダは鍛えるのではなく整える」上尾駅徒歩5分のパーソナルトレーニング・ストレッチ・スタジオレッスン・フェイスケア・アロママッサージのStudio MEANA'
block body
  section#main-cover
    #main-cover-image
    #cover-bg
    .cover-content
      h1#message カラダは鍛えるのではなく
        br.sp
        | 「整える」
        br
        | 解剖学に基づいた
        br.sp
        | 総合ボディメイクスタジオ
    #scroll.scroll
      a(href="#home-service")
        span Scroll
        span.icon(uk-icon="icon: chevron-down")
  #animaton-area
    section#home-service.home-section.uk-section
      .uk-container
        h2.section-title(uk-scrollspy="cls: uk-animation-slide-bottom-medium") サービスメニュー
        .service-container(uk-height-match="target: .card-body")
          a.card(href="/program/personal/")
            .card-container
              .card-img(style="background-image:url(uploads/home_service_personal.jpg);")
              .card-body
                h3 パーソナルトレーニング
                p 一人ひとりのカラダの特性や状態に合わせたオーダーメイド・トレーニング
          a.card(href="/program/body/")
            di.card-container
              .card-img(style="background-image:url(uploads/home_service_body.jpg);")
              .card-body
                h3 ボディメンテナンス
                p テンピュール®社製のベッド上で行うパーソナルストレッチ＆各種マッサージ。
          a.card(href="/program/studio/", uk-scrollspy="uk-animation-slide-bottom-medium")
            .card-container
              .card-img(style="background-image:url(uploads/home_service_studio.jpg);")
              .card-body
                h3 スタジオレッスン
                p ５〜15人のグループで行うスタジオ・レッスン。
          a.card(href="/program/kids/", uk-scrollspy="uk-animation-slide-bottom-medium")
            .card-container
              .card-img(style="background-image:url(uploads/home_service_kids.jpg);")
              .card-body
                h3 キッズレッスン
                p 12歳までのキッズ専用のグループレッスン。
    section#home-about.home-section.uk-section(uk-parallax="bgy: -200")
      .img(style="background-image:url(uploads/home_studio.png);")
      .uk-container
        h2.section-title(uk-scrollspy="cls: uk-animation-slide-bottom-medium") Studio Meanaについて
        .about-container(uk-scrollspy="target: > .card; cls: uk-animation-slide-bottom-medium; delay: 50", uk-height-match="target: .card-body > p")
          a.card(href="/about/")
            .card-img(style="background-image:url(uploads/home_about_studio.jpg);")
            .card-body
              h3 スタジオ紹介
              p 創業1999年、解剖学に基づいたバレエメソッドでカラダを根本から整えるパーソナル・トレーニング・スタジオ
          a.card(href="/voice/")
            .card-img(style="background-image:url(uploads/home_about_voice.jpg);")
            .card-body
              h3 お客様の声
              p お子様から高齢者まで様々な会員の中からの体験談をご紹介
          a.card(href="/blog/")
            .card-img(style="background-image:url(uploads/home_about_blog.jpg);")
            .card-body
              h3 ニュース＆コラム
              p スタッフによる日々の活動やスタジオの様子などをご紹介
          a.card(href="/join/")
            .card-img(style="background-image:url(uploads/home_cover.jpg);")
            .card-body
              h3 料金・入会
              p レッスン料金、入会の手順・スタジオの利用方法などはこちらから
block end_of_body
  script(src="/assets/js/module/gsap/gsap.min.js")
  script(src="/assets/js/module/in-view.min.js")
  script(src="/assets/js/home.js")
