extends ../../includes/_layout
block var
	- title = 'スタジオレッスン | Meana'
	- keywords = '上尾,ストレッチ,ダンス,スタジオ,パーソナル,キッズ,ボディケア,フェイスケア'
	- url = 'https://www.meana-studio.com/'
	- image = 'image'
	- site_name = 'site_name'
	- description = '上尾駅徒歩10分のダンス・ストレッチスタジオ、MEANA STUDIO。パーソナルトレーニング、ストレッチ、キッズレッスン、ボディケア・フェイスケアなども行ってます。'
block body
	section.herotitle-container.kids(style="background-image:url(../uploads/bg_kids.png);")
		div.hero-content
			div.en.uk-animation-slide-bottom-medium Kids Lesson
			h1.uk-animation-slide-bottom-medium キッズレッスン
			p.uk-animation-slide-bottom-medium 12歳までのキッズ専用のグループレッスン
	div.uk-container.kids
		div.schedule-container(uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-medium; delay: 50")
			- for (var x = 0; x < 3; x++)
				div.schedule
					div.s-schedule
						div.day Mon
					time
						ion-icon(name="clock")
						span 9:00~10:00
					div.content
						h3 バレエストレッチ
						p ストレッチの基本となる部位を柔軟にし、美しいボディラインを作ります。
				div.schedule
					div.s-schedule
						div.day.sat Sat
					time
						ion-icon(name="clock")
						span 9:00~10:00
					div.content
						h3 コアストレッチ &amp; トレーニング
						p カラダの歪みを整え、リセットするメソッドで、キレイな姿勢と太りにくい体質に！
				div.schedule
					div.s-schedule
						div.day.sun Sun
					time
						ion-icon(name="clock")
						span 13:00~14:00
					div.content
						h3 Limber Body &amp; Slow Dance
						p 代謝UPのための筋肉を使わせるムービング運動と、ストレッチをミックスしたシェイプアップレッスン！
	script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js")
	script(src="/assets/js/swiper.js")