extends ../../includes/_layout
block var
	- title = 'スタジオレッスン | Meana'
	- keywords = '上尾,ストレッチ,ダンス,スタジオ,パーソナル,キッズ,ボディケア,フェイスケア'
	- url = 'https://www.meana-studio.com/'
	- image = 'image'
	- site_name = 'site_name'
	- description = '上尾駅徒歩10分のダンス・ストレッチスタジオ、MEANA STUDIO。パーソナルトレーニング、ストレッチ、キッズレッスン、ボディケア・フェイスケアなども行ってます。'
block body
	section.herotitle-container.studio(style="background-image:url(../uploads/bg_studio.png);")
		div.hero-content
			h1.uk-animation-slide-bottom-medium スタジオレッスン
			p.uk-animation-slide-bottom-medium 大人のための５名-15名程度で行うグループレッスン
	div.uk-container.studio
		div.schedule-container(uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-medium; delay: 50")
			- for (var x = 0; x < 7; x++)
				div.schedule
					div.s-schedule
						div.day Mon
						time 9:00~10:00
					div.content
						h3 バレエストレッチ
						p ストレッチの基本となる部位を柔軟にし、美しいボディラインを作ります。
	script(src="/assets/js/module/swiper.min.js")
	script(src="/assets/js/swiper.js")