#header {
	.uk-navbar-container {
		height: 63px;
	}
	.uk-navbar {
		align-items: center;
		background-color: #FFF;
		padding: 0 64px;
		@include mq(md) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.logo {
		outline: none;
		.st0 {
			fill: $black;
		}
		svg {
			height: 14px;
			outline: none;
			display: inline-block;
		}
		@include mq(xl) {
			text-align: center;
			svg {
				height: 14px;
			}
		}
	}
	.navbar-collapse.show {
		padding-bottom: 3rem;
	}
	.uk-navbar-nav {
		letter-spacing: .1em;
		align-items: center;
		li {
			&.nav {
				> a {
					display: inline-block;
					min-height: 0;
					font-size: 1.4rem;
					font-weight: bold;
					font-style: normal;
					color: #000;
					padding-left: 1.5em;
					padding-right: 1.5em;
					.icon {
						transform: translateY(-2px);
						margin-left: 4px;
						width: 15px;
					}
				}
			}
		}
	}
	.contact {
		margin-left: 1.5rem;
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			color: #FFF;
			background-color: #666;
			font-size: 1.2rem;
			line-height: 1;
			font-weight: 600;
			min-height: 0;
			padding-top: .6em;
			padding-bottom: .6em;
			border-radius: 20px;
			.icon {
				position: relative;
				top: 1px;
				margin-right: .4em;
				svg {
					width: 15px;
				}
			}
		}
	}
}

.uk-navbar-dropdown {
	border: none;
	background-color: #666;
	padding: .8em 1.5rem;
	box-shadow: none;
	border-radius: 4px;
	.uk-navbar-dropdown-nav {
		border-radius: 0;
		text-align: left;
		a {
			color: $black;
			display: inline-block;
			color: #FFF;
			font-size: 1.3rem;
			font-weight: 600;
			text-align: center;
			&:hover {
				color: #ddd;
			}
		}
	}
}

.navbar-toggler {
	padding: 0;
	border: none;

	button {
		outline: none;
	}
	ion-icon {
		font-size: 2rem;
		line-height: 1;
	}
}

#header.home .uk-navbar {
	background: none;
	#toggle-menu {
		display: none;
	}
}

.animation-end #header.home {
	.logo {
		outline: none;
		.st0 {
			fill: #FFF;
		}
	}
	.uk-navbar-nav {
		li {
			&.nav {
				> a {
					transition: color 0.5s ease-in;
					color: #FFF;
				}
			}
		}
	}
}

.uk-offcanvas-bar {
	background-color: rgba(255,255,255,0.95);
	color: $black;
	.uk-close {
		color: $black;
	}
	.uk-nav-default li > a {
		color: $black;
		font-weight: 500;
	}
}

#offcanvas-usage {
	.uk-nav-default {
		font-size: 1.4rem;
	}
	.contact {
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			color: #FFF;
			background-color: #666;
			font-size: 1.2rem;
			line-height: 1;
			font-weight: 600;
			min-height: 0;
			padding-top: .6em;
			padding-bottom: .6em;
			border-radius: 4px;
			.icon {
				position: relative;
				top: 1px;
				margin-right: .4em;
				svg {
					width: 15px;
				}
			}
		}
	}
}