extends ../includes/_layout
block var
	- title = 'Aさん | Meana'
	- keywords = '上尾,ストレッチ,ダンス,スタジオ,パーソナル,キッズ,ボディケア,フェイスケア'
	- url = 'https://www.meana-studio.com/'
	- image = 'image'
	- site_name = 'site_name'
	- description = '上尾駅徒歩10分のダンス・ストレッチスタジオ、MEANA STUDIO。パーソナルトレーニング、ストレッチ、キッズレッスン、ボディケア・フェイスケアなども行ってます。'
block body
	div.uk-container
		section.voice-head
			img.uk-animation-slide-bottom-medium(src="uploads/sample.jpg")
			div.voice-meta.uk-animation-slide-bottom-medium
				div.voice-person
					figure
						img(src="https://www.meana-studio.com/voice/uploads/a.jpg")
						figcaption Aさん
				ul.socials
					li
						a(href="")
							i(uk-icon="icon: twitter; ratio: 2")
					li
						a(href="")
							i(uk-icon="icon: facebook; ratio: 2")
			h1.uk-animation-slide-bottom-medium 悪かった膝が生活する上で不自由がなくなった上に風邪を全くひかなくなりました。
		.voice-body(uk-scrollspy="target: *; cls: uk-animation-slide-bottom-medium; delay: 40")
			h2 MEANAを選んでいただいている理由をお聞かせ下さい。
			p 以前私は膝を悪くして、日常生活にも少々不自由でした。
				br
				| 浅見先生にお会いしてレッスンを受けている内に内容も膝の調子も良くなり、これなら継続できるのでは、と思ったのが動機です。
				br
				| MEANAのストレッチが自分に合っている事と好きな事が一番の理由です。
			h2 MEANAのレッスンで変わった事、実感したことがあれば教えてください。
			p 一番変わったことは、膝が生活する上で何ひとつ不自由がなくなり、また風邪をひかなくなりました。
				br
				| 自分の身体に目を向ける事も多くなりました。
			h2 最後に
			p 解剖学にのっとってレッスンの説明を進んでいくのですが、
				br
				| 私にも理解しやすく、日常生活にも役に立っている事と、姿勢の崩れや体調不良に気がつきやすくなりました。
	div.relative-voice
		h2 その他の声
		div.voice-card-container.relative(uk-height-match="target: .card-body h3" uk-scrollspy="target: .card; cls: uk-animation-slide-bottom-medium; delay: 40")
			a.card(href="/voice/voice.html")
				div.card-img(style="background-image:url(https://www.meana-studio.com/voice/uploads/a.jpg);")
				div.card-body
					h3 悪かった膝が生活する上で不自由がなくなった上に風邪を全くひかなくなりました。
					.name Aさん
			a.card(href="/voice/voice.html")
				div.card-img(style="background-image:url(https://www.meana-studio.com/voice/uploads/0c4423e1d548e92471f09b9da5fe36873a9f5cb8.jpg);")
				div.card-body
					h3 あらゆる腰痛治療法を試したものの改善されず、藁にもすがる思いでレッスンを申し込みました。
					.name 大沢育郎さん
			a.card(href="/voice/voice.html")
				div.card-img(style="background-image:url(https://www.meana-studio.com/voice/uploads/544e7efb5b0176a7b55a7e530a4d2a7ceae1e1a9.jpg);")
				div.card-body
					h3 レッスンで体が変わりペースメーカーをつける必要がなくなりました。
					.name J .Oさん
			a.card(href="/voice/voice.html")
				div.card-img(style="background-image:url(https://www.meana-studio.com/voice/uploads/murakami.jpg);")
				div.card-body
					h3 首の痛みが改善され、以前よりとても身体が軽くなったのを実感しています。
					.name 村上さん