extends ../../includes/_layout
block var
	- title = 'スタジオレッスン | Meana'
	- keywords = '上尾,ストレッチ,ダンス,スタジオ,パーソナル,キッズ,ボディケア,フェイスケア'
	- url = 'https://www.meana-studio.com/'
	- image = 'image'
	- site_name = 'site_name'
	- description = '上尾駅徒歩10分のダンス・ストレッチスタジオ、MEANA STUDIO。パーソナルトレーニング、ストレッチ、キッズレッスン、ボディケア・フェイスケアなども行ってます。'
block end_link
	link(rel='stylesheet', href="/assets/css/swiper.css")
block body
	section.herotitle-container.studio(style="background-image:url(../uploads/bg_studio.png);")
		div.hero-content
			div.en.uk-animation-slide-bottom-medium Studio Lesson
			h1.uk-animation-slide-bottom-medium スタジオレッスン
			p.uk-animation-slide-bottom-medium 大人のための５名-15名程度で
				br
				| 行うグループレッスン
	div.uk-container.studio
		div.schedule-container(uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-medium; delay: 50")
			- for (var x = 0; x < 3; x++)
				div.schedule
					div.s-schedule
						div.day Mon
					time
						i.material-icons access_time
						span 9:00~10:00
					div.content
						h3 バレエストレッチ
						p ストレッチの基本となる部位を柔軟にし、美しいボディラインを作ります。
				div.schedule
					div.s-schedule
						div.day.sat Sat
					time
						i.material-icons access_time
						span 9:00~10:00
					div.content
						h3 コアストレッチ &amp; トレーニング
						p カラダの歪みを整え、リセットするメソッドで、キレイな姿勢と太りにくい体質に！
				div.schedule
					div.s-schedule
						div.day.sun Sun
					time
						i.material-icons access_time
						span 13:00~14:00
					div.content
						h3 Limber Body &amp; Slow Dance
						p 代謝UPのための筋肉を使わせるムービング運動と、ストレッチをミックスしたシェイプアップレッスン！
		#gallery
			h2.section-title-m(uk-scrollspy="uk-animation-slide-bottom-medium") Gallery
			div#gallery-container.swiper-container(uk-scrollspy="uk-animation-slide-bottom-medium")
				ul.swiper-wrapper
					li.swiper-slide
						img(src="/about/uploads/gallery01.jpg" uk-img)
						h3 スタジオ外観
					li.swiper-slide
						img(src="/about/uploads/gallery07.jpg" uk-img)
						h3 受付・エントランス
					li.swiper-slide
						img(src="/about/uploads/gallery02.jpg" uk-img)
						h3 ボディメンテンナンスルーム
					li.swiper-slide
						img(src="/about/uploads/gallery03.jpg" uk-img)
						h3 渡り廊下
					li.swiper-slide
						img(src="/about/uploads/gallery04.jpg" uk-img)
						h3 マシン
					li.swiper-slide
						img(src="/about/uploads/gallery05.jpg" uk-img)
						h3 トレーニングルーム（1）
					li.swiper-slide
						img(src="/about/uploads/gallery06.jpg" uk-img)
						h3 トレーニングルーム（2）
				a.swiper-button-prev(href="#")
				a.swiper-button-next(href="#")
			ul.swiper-pagination
block end_of_body
	script(src="/assets/js/module/swiper.min.js")
	script(src="/assets/js/swiper.js")