.herotitle-container {
	&.studiotop {
		padding-top: 49.4%;
		@include mq(md) {
			padding-top: 70%;
		}
	}
}

.studio-body {
	position: relative;
	z-index: 2;
	padding: 64px;
	background-color: #FFF;
	text-align: left;
	@include mq(md) {
		padding: 15px;
	}
	.point {
		&:first-of-type {
			margin-bottom: 64px;
			@include mq(md) {
				margin-bottom: 32px;
			}
		}
	}
	h2 {
		font-size: 3rem;
		font-weight: bold;
		line-height: 1.5;
		margin-bottom: 32px;
		@include mq(md) {
			font-size: 1.4rem;
			margin-bottom: 16px;
			br {
				display: none;
			}
		}
	}
	p {
		font-size: 1.6rem;
		margin-bottom: 24px;
		@include mq(md) {
			font-size: 1.2rem;
			margin-bottom: 12px;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	strong {
		font-weight: bold;
		color: #000;
	}
}

#staff {
	margin-top: 60px;
	padding-top: 60px;
	@include mq(md) {
		margin-top: 30px;
		padding-top: 30px;
	}
	.section-title-m {
		margin-bottom: 64px;
	}
}

.staff-card-container {
	margin-top: 30px;
	@include flex(wrap,flex-start,stretch);
	margin-left: -24px;
	margin-right: -24px;
	@include mq(md) {
		//padding-left: 15px;
		//padding-right: 15px;
		margin-left: -5px;
		margin-right: -5px;
	}
	.card {
		box-sizing: border-box;
		padding-left: 24px;
		padding-right: 24px;
		flex-basis: 25%;
		margin-bottom: 24px;
		.card-img {
			padding-top: 120%;
		}
		&:nth-of-type(1) {
			transition: transform 0.7s ease-in;
		}
		h3 {
			margin-bottom: 0;
		}
		@include mq(md) {
			padding-left: 5px;
			padding-right: 5px;
			flex-basis: 50%;
			margin-bottom: 24px;
			h3 {
				margin-bottom: 0;
			}
		}
	}
}

#gallery {
	position: relative;
	margin-top: 60px;
	padding-top: 60px;
	padding-bottom: 60px;
	#gallery-container {
		margin-top: 60px;
	}
	h3 {
		font-weight: bold;
		text-align: center;
		line-height: 1;
		margin-top: 16px;
		font-size: 1.3rem;
		@include mq(md) {
			margin-top: 8px;
			font-size: 1rem;
		}
	}
	img {
		display: block;
	}
	@include mq(md) {
		margin-top: 30px;
		padding-top: 30px;
		padding-bottom: 30px;
		#gallery-container {
			margin-top: 30px;
		}
	}
}

#access {
	margin-top: 60px;
	padding-top: 60px;
	@include mq(md) {
		margin-top: 30px;
		padding-top: 30px;
	}
	.section-title {
		margin-bottom: 1.5rem;
	}
	.access-body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 32px;
		@include mq(md) {
			display: block;
		}
	}
	.gmap {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
		border-radius: 10px;
		iframe,
		object,
		embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.info {
		flex: 1;
		font-size: 2rem;
		font-weight: bold;
		@include mq(md) {
			font-size: 1.4rem;
		}
		.tel {
			font-size: 4rem;
			@include mq(md) {
				font-size: 2.4rem;
			}
		}
	}
	.more {
		text-align: center;
		@include mq(md) {
			margin-top: 15px;
		}
		a {
			font-size: 1.4rem;
			background-color: #666;
			padding-top: .6em;
			padding-bottom: .6em;
			border-radius: 20px;
			line-height: 1;
			color: #FFF;
			text-transform: none;
			@include mq(md) {
				font-size: 1.2rem;
				display: block;
				border-radius: 0;
				padding-top: 1em;
				padding-bottom: 1em;
			}
			span,
			ion-icon {
				display: inline-block;
				vertical-align: middle;
			}
			ion-icon {
				margin-right: 12px;
			}
		}
	}
}

.swiper-pagination {
	width: 100%;
	box-sizing: border-box;
	bottom: 0;
}

.swiper-pagination-bullet {
	margin-left: 6px;
	margin-right: 6px;
}

.swiper-pagination-bullet-active {
	background: $black !important;
}

.swiper-button-prev {
	top: 45% !important;
	color: #FFF !important;
	text-shadow: 0 0 5px rgba(0,0,0,0.7);
	@include mq(md) {
		&:after {
			font-size: 2.5rem !important;
		}
	}
}

.swiper-button-next {
	top: 45% !important;
	color: #FFF !important;
	text-shadow: 0 0 5px rgba(0,0,0,0.7);
	@include mq(md) {
		&:after {
			font-size: 2.5rem !important;
		}
	}
}