.herotitle-container {
	&.jointop {
		padding-top: 66.65%;
	}
}

.joincard-container {
	margin-top: -15%;
	@include flex(wrap,space-between,stretch);
	margin-left: -24px;
	margin-right: -24px;
	@include mq(md) {
		display: block;
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		padding-top: 15px;
	}
	.card {
		box-sizing: border-box;
		padding-left: 24px;
		padding-right: 24px;
		flex-basis: 50%;
		margin-bottom: 24px;
		&:nth-of-type(1) {
			transition: transform 0.7s ease-in;
		}
		@include mq(md) {
			padding-left: 0;
			padding-right: 0;
			flex-basis: auto;
			margin-bottom: 24px;
		}
		table {
			margin-top: 30px;
			width: 100%;
			table-layout: fixed;
			border-collapse: collapse;
			font-size: 1.5rem;
			@media screen and (max-width: 1024px) and (orientation: portrait) {
				font-size: 1rem;
			}
			@include mq(md) {
				margin-top: 15px;
				font-size: 1rem;
			}
			th,
			td {
				white-space: nowrap;
				vertical-align: middle;
				&:last-child {
					text-align: right;
					font-weight: bold;
				}
			}
			td:nth-child(2) {
				text-align: right;
			}
		}
	}
}

.join-entry {
	padding-top: 60px;
	.point {
		font-size: 2.8rem;
		text-align: center;
		//background-color: #FFF;
		//box-shadow: 0px 15px 45px -9px rgba(0,0,0,.2);
		@include mq(md) {
			font-size: 1.4rem;
		}
	}
}

.join-fee {
	padding-top: 60px;
	.join-fee-container {
		padding: 64px;
		background-color: #FFF;
		text-align: left;
		@include mq(md) {
			padding: 32px 15px;
		}
		ul {
			margin-top: 30px;
			margin-left: 25px;
			@include mq(md) {
				margin-left: 12px;
			}
		}
		li {
			list-style: square outside;
			font-size: 1.6rem;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
			@include mq(md) {
				font-size: 1rem;
				margin-bottom: 7px;
			}
		}
	}
}