.legal-head {
	box-sizing: border-box;
	padding: 64px 32px 0;
	width: 720px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	@include mq(md) {
		width: auto;
		padding: 30px 0 15px;
		font-size: 1.1rem;
	}
	h1 {
		font-size: 3.3rem;
		line-height: 1.4;
		font-weight: bold;
		@include mq(md) {
			font-size: 2rem;
		}
	}
}

.legal-body {
	box-sizing: border-box;
	padding: 64px 32px;
	width: 720px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5rem;
	@include mq(md) {
		width: auto;
		padding: 15px 0;
		font-size: 1.3rem;
	}
	h2,
	h3,
	h4,
	h5,
	blockquote,
	img,
	.iframe,
	table,
	ul,
	ol,
	p {
		margin-bottom: 32px;
		@include mq(md) {
			margin-bottom: 16px;
		}
	}
	h2 {
		font-size: 2rem;
		font-weight: bold;
		@include mq(md) {
			font-size: 1.5rem;
		}
	}
	ul,ol {
		margin-left: 20px;
		li {
			list-style-position: outside;
		}
	}
	ol {
		li {
			list-style-type: decimal;
		}
	}
	ul {
		 li {
			 list-style-type: square;
		 }
	 }
}