.card {
	.card-img {
		position: relative;
		padding-top: 54%;
		@include background(center,center);
		.point {
			position: absolute;
			box-sizing: border-box;
			padding: .6em;
			top: 0;
			left: 0;
			font-size: 1.3rem;
			font-weight: bold;
			text-align: left;
			span {
				position: relative;
				z-index: 2;
				background: none;
				line-height: 1;
			}
			&:after {
				position: absolute;
				top: 0;
				left: 0;
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 100px 120px 0 0;
				border-color: #ffffff transparent transparent transparent;
			}
		}
	}
	.card-body {
		box-shadow: 0px 15px 45px -9px rgba(0,0,0,.2);
		background-color: #FFF;
		padding: 24px;
		@include mq(md) {
			padding: 12px;
		}
		h3 {
			font-size: 1.8rem;
			font-weight: bold;
			margin-bottom: 16px;
			@include mq(md) {
				margin-bottom: 8px;
				font-size: 1.4rem;
			}
		}
		p {
			font-size: 1.4rem;
			@include mq(md) {
				font-size: 1.1rem;
			}
		}
	}
}